<h1>Editing Album</h1>

<%= render partial: 'form', locals: {user: current_user, album: @album} %>

<%= link_to 'Show', user_album_path(current_user, @album) %> |
<%= link_to 'Back', user_albums_path(current_user) %>
