<tbody>
  <% albums.each do |album| %>
    <tr>
      <td><%= link_to album.artist.name, user_artist_path(user, album.artist) %></td>
      <td><%= link_to album.title, user_album_path(user, album) %></td>
      <td><%= link_to 'Edit', edit_user_album_path(user, album) %></td>
      <td><%= link_to 'Destroy', user_album_path(user, album), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>